*_wrapper.cxx
*.a
*.class
*.d
*.dep
*.o
*.orig
*.py[co]
*.so
*.swp

/SParseval
/tmp

evalb/evalb

build*
dist*

MANIFEST
regression-test-*
tags
TAGS

python/bllipparser/CharniakParser.py
python/bllipparser/JohnsonReranker.py

first-stage/PARSE/evalTree
first-stage/PARSE/parseAndEval
first-stage/PARSE/parseIt
first-stage/PARSE/parser_wrapper.C
first-stage/PARSE/swig/*/build/*
first-stage/PARSE/swig/*/lib/*
first-stage/TRAIN/iScale
first-stage/TRAIN/kn3Counts
first-stage/TRAIN/pSfgT
first-stage/TRAIN/pSgT
first-stage/TRAIN/pTgNt
first-stage/TRAIN/pUgT
first-stage/TRAIN/rCounts
first-stage/TRAIN/selFeats
first-stage/TRAIN/trainRs

/second-stage/nbest

second-stage/programs/*/read-tree.cc
second-stage/programs/eval-beam/main
second-stage/programs/eval-weights/eval-weights
second-stage/programs/features/best-*parses
second-stage/programs/features/count-*features
second-stage/programs/features/extract-*features
second-stage/programs/features/oracle-score
second-stage/programs/features/parallel-extract-nfeatures
second-stage/programs/features/parallel-extract-spfeatures
second-stage/programs/features/reranker_wrapper.C
second-stage/programs/features/swig/*/build/*
second-stage/programs/features/swig/*/lib/*
second-stage/programs/prepare-data/copy-trees-ss
second-stage/programs/prepare-data/prepare-ec-data
second-stage/programs/prepare-data/prepare-ec-data100
second-stage/programs/prepare-data/prepare-new-data
second-stage/programs/prepare-data/ptb
second-stage/programs/wlle/avper
second-stage/programs/wlle/cvlm
second-stage/programs/wlle/cvlm-lbfgs
second-stage/programs/wlle/gavper
second-stage/programs/wlle/oracle
